In [46]:
import pandas as pd

In [47]:
email = pd.read_csv('Person.csv')
email

   id    email
0   1  a@b.com
1   2  c@b.com
2   3  a@b.com
3   4  c@b.com
4   5  e@b.com
5   6  f@b.com
6   7  g@b.com
7   8  a@b.com

In [54]:
email_count = email.groupby(['email']).count().reset_index().rename({'id': 'count'},axis = 1)
email_count['email'].loc[email_count['count'] > 1]
# 我理解的reset_index其实就是把groupby之后不太正常的结构给重新变成正常的一行一行的结构
# 因为group by之后index就变成了以email为首的index，而不是正常的1,2,3...
# 当我们使用了reset_index()之后，就重新把这个结构变成了以0,1,2...为首的index的数据结构

0    a@b.com
1    c@b.com
Name: email, dtype: object