In [5]:
import pandas as pd

In [6]:
customer = pd.read_csv('Customers.csv')
customer

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [7]:
order = pd.read_csv('Orders.csv')
order

   id  customerId
0   1           3
1   2           1

In [23]:
customer_order = pd.merge(customer,order,how = 'left', left_on = 'id', right_on = 'customerId')
customer_order
customer_order_null = customer_order.loc[customer_order['id_y'].isnull()]
# customer_order_null
customer_order_null['name']
# hr[hr['interviews'].isnull()]

1    Henry
3      Max
Name: name, dtype: object

In [25]:
# 如果我们改一下题目：我们查找下过订单的customers，那么我们就需要剔除id_y为null的行，那么我们就需要使用dropna(subset = [想要剔除哪些列中的null值])
conull = customer_order.dropna(subset=['id_y'])
conull

   id_x name  id_y  customerId
0     1  Joe   2.0         1.0
2     3  Sam   1.0         3.0