In [1]:
import pandas as pd

In [2]:
employee = pd.read_csv('Employee.csv')
employee

   id  salary
0   1     100
1   2     200
2   3     400
3   4     400
4   5     500
5   6     500
6   7     600

In [3]:
employee['row_number_rank_desc'] = employee['salary'].rank(method = 'first',ascending = False)
employee['row_number_rank'] = employee['salary'].rank(method = 'first')
employee['dense_rank_desc'] = employee['salary'].rank(method = 'dense',ascending = False)
employee

   id  salary  row_number_rank_desc  row_number_rank  dense_rank_desc
0   1     100                   7.0              1.0              5.0
1   2     200                   6.0              2.0              4.0
2   3     400                   4.0              3.0              3.0
3   4     400                   5.0              4.0              3.0
4   5     500                   2.0              5.0              2.0
5   6     500                   3.0              6.0              2.0
6   7     600                   1.0              7.0              1.0

In [4]:
# We set N = 2

In [5]:
# 抽取row number = 2的情况
employee['salary'].loc[employee['row_number_rank']==2]

1    200
Name: salary, dtype: int64

In [6]:
# 抽取row number != 2的情况
employee.loc[employee['row_number_rank']!=2]

   id  salary  row_number_rank_desc  row_number_rank  dense_rank_desc
0   1     100                   7.0              1.0              5.0
2   3     400                   4.0              3.0              3.0
3   4     400                   5.0              4.0              3.0
4   5     500                   2.0              5.0              2.0
5   6     500                   3.0              6.0              2.0
6   7     600                   1.0              7.0              1.0

In [17]:
# 抽取row_number_rank_desc 为1或者row_number_rank 为1的情况
employee.loc[(employee['row_number_rank'] == 1) | (employee['row_number_rank_desc'] == 1)]

   id  salary  row_number_rank_desc  row_number_rank  dense_rank_desc
0   1     100                   7.0              1.0              5.0
6   7     600                   1.0              7.0              1.0

In [18]:
# 抽取row_number_rank_desc 为1或者2的情况
employee.loc[employee['row_number_rank_desc'].isin(['1','2'])]

   id  salary  row_number_rank_desc  row_number_rank  dense_rank_desc
4   5     500                   2.0              5.0              2.0
6   7     600                   1.0              7.0              1.0

# 像写SQL一样写python
https://learnku.com/articles/29825

https://www.cnblogs.com/a00ium/p/14898314.html