In [1]:
import pandas as pd

In [14]:
employee = pd.read_csv('Employee.csv')
employee

   id  salary
0   1     100
1   2     200
2   3     400
3   4     400

In [23]:
employee['rnk'] = employee['salary'].rank(method = 'dense', ascending = False)

In [24]:
employee

   id  salary  rnk
0   1     100  3.0
1   2     200  2.0
2   3     400  1.0
3   4     400  1.0

In [26]:
employee['salary'].loc[employee['rnk'] == 2]

1    200
Name: salary, dtype: int64