In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('181. Employees Earning More Than Their Managers.csv')
salary

   id  name   salary  managerId
0   1    Joe   70000        3.0
1   2  Henry   80000        4.0
2   3    Sam   60000        NaN
3   4    Max   90000        NaN

In [3]:
compare_salary = pd.merge(salary, salary, how='inner', left_on='managerId', right_on='id')
compare_salary

   id_x name _x  salary_x  managerId_x  id_y name _y  salary_y  managerId_y
0     1     Joe     70000          3.0     3     Sam     60000          NaN
1     2   Henry     80000          4.0     4     Max     90000          NaN

In [4]:
compare_salary['name _x'].loc[compare_salary['salary_x'] > compare_salary['salary_y']]

0    Joe
Name: name _x, dtype: object

In [5]:
a= compare_salary.loc[compare_salary['salary_x'] > compare_salary['salary_y']].rename({'name _x':'Employee'},axis = 'columns')

In [6]:
a['Employee']

0    Joe
Name: Employee, dtype: object

### 涉及知识点
1. merge来实现sql里面的join
2. loc来实现查找功能
3. rename来改行列名：
    - df.rename({1: 2, 2: 4}, axis='index') -> 改行名
    - df.rename(str.lower, axis='columns') -> 改列名