In [1]:
import pandas as pd

In [2]:
score = pd.read_csv('Scores.csv')
score

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [3]:
score['rnk'] = score['score'].rank(method = 'dense', ascending = False)
score.sort_values('rnk') #将score表按照score rnk从小到大进行排列

   id  score  rnk
2   3   4.00  1.0
4   5   4.00  1.0
3   4   3.85  2.0
1   2   3.65  3.0
5   6   3.65  3.0
0   1   3.50  4.0

In [4]:
score[['score','rnk']].sort_values('rnk')

   score  rnk
2   4.00  1.0
4   4.00  1.0
3   3.85  2.0
1   3.65  3.0
5   3.65  3.0
0   3.50  4.0

# order
Pandas中支持多列order，并可以调整不同列的升序/降序，有更高的排序自由度：

df.sort_values(['total_bill', 'tip'], ascending=[False, True])